<h3>Create an Account</h3>

<form class="ui form" [formGroup] = "authForm">
    <app-input label="Username" [control] = "authForm.get('username')"></app-input>
    {{ authForm.get('username').errors | json }}

    <app-input label="Password" [control] = "authForm.get('password')"></app-input>
    {{ authForm.get('password').errors | json }}

    <app-input label="Password Confirmation" [control] = "authForm.get('passwordConfirmation')"></app-input>
    {{ authForm.get('passwordConfirmation').errors | json }}

    <button class="ui submit button primary"> Submit</button>
    {{ authForm.errors | json }}

</form>